<header>
	<div class="t-container">
	   <img src="assets/Images/wolfhead.jpg" class="logo">
	<nav class ="tm-nav">
	 <ul>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Buy</a><li>
	     <!--<ul>
		    <li><a href="#">Fashion</a></li>
			<li><a href="#">Indoors</a></li>
			<li><a href="#">Outdoors</a></li>
			<li><a href="#">Sports</a></li>
			<li><a href="#">Vehicles</a></li>
			</ul>
			</li>-->
	  <li><a href="#">Sell</a></li>
	  <li><a href="#">Specials</a></li>
	  <li><a href="#">About us</a></li>
	  <li><a href="#">Contact us</a></li>
	  <li><a href="#">Help</a></li>
	 </ul>
	</nav>
    </div>
</header>
