	<body>
	<h1> ALPHA </h1>
	   <div class= "loginbox">
		  <h2> Login Gamer </h2>
		  <div style="padding-bottom: 20px;"> 
		  	<button style="float: left" class="button1">Login Using Facebook</button>	
		  	<button style="float: right" class="button1">Login Using Gmail</button>
		</div>
	   <br>
	<br>
	<br>
	<br>
	<br>
		  
		  <!--Submit a form - Send information somewhere to work with the data-->
		    <form action ="2ndpage.php" method="get">
			   <p>Username </p>
			   <input type ="text" name="" placeholder="Enter Username">
			   <br>
			   <p> Password</p>
			   	<input type ="password" name="" placeholder="Enter Password">
				<br>
				<button style= "display: flex;justify-content: center;" class="button">Submit</button>	
				<br>
				<br>
				</form>
				<div>
					<a style="float: left;" href= "LostPassword.html"> Lost your password?</a>
					<a style="float: right;" href="#"> Don't have an account?</a>
				</div>
				
	 </div>
	 	</body>



